.App {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 1fr 6rem;
    grid-template-areas: 
        'header'
        'main'
        'footer'
    ;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.App__Header {
    grid-area: header;
}

.App__Main {
    grid-area: main;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.App__Footer {
    grid-area: footer;
}
