.keys {
    position: absolute;
    inset: 2rem 0 0 0;
    margin: 0 auto;
}

.MajorKey {
    background: #fff;
    height: 100%;
    min-width: calc(100% / 7);
    box-shadow: 0 0 0 0.5px #888 inset;
}

.MinorKey {
    height: 60%;
    color: #fff;
    background: #000;
    max-width: calc(100% / 14);
    z-index: 1;
    box-shadow: 0 0 0 1px #888 inset;
}

.key {
    padding-top: 0.25rem;
    font-size: 0.5em;
    font-weight: bold;
    display: grid;
    align-items: start;
    justify-content: center;
    position: absolute;
    border: none;
    border-radius: 0px 0px 4px 4px;
    width: calc(100% / 12);
}

.key--active {
    background-color: #e39443;
}

@media (prefers-color-scheme: dark) {
    .MajorKey {
        background-color: white;
    }
    
    .MinorKey {
        background-color: black;
    }
}