* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: Play;
}

body {
  position: fixed;
  inset: 0 0 0 0;
  background: #0e365f;
  color: #fff;
  padding: 1rem;
  max-height: 100vh;
}
